:root {
    --background: #802223;
    --foreground: #F5CF5E;

    --yellow: #F4E793;
    --red: #DE6655;
    --green: #A4B952;
    --blue: #BEDAE5;
    --borderbrown: #57271B;

}

body, html {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;

}

button {
    margin: 10px;
    color: #162412;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .pokemon-card, body.dark-mode .favorite-card {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode .typetextarea, body.dark-mode .pokemon-move {
    color: black;
}

body.dark-mode h2, body.dark-mode #darkModeButton {
    color: #fff;
}

body.dark-mode #darkModeButton {
    background-color: #444;
}

body.dark-mode #darkModeButton:hover {
    background-color: #555;
}

.pokemon-card, .favorite-card, .pokemon-move {
    background-color: var(--yellow);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 80%;
    height: auto;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

.pokemon-card:hover, .favorite-card:hover {
    animation: spin .5s ease-in-out;
}

.pokemon-card button, .favorite-card button, .button {
    font-size: 18px;
    background-color: var(--green);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.pokemon-card button:hover, .favorite-card button:hover, .button:hover {
    background-color: #F9BEBF;
    color: black;
}

.pokemon-moves {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--red);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.favorites-body {
    background-color: var(--blue);
    text-align: center;
}

.favorites-body h1 {
    text-decoration: underline;
}

.pokemon-moves h3 {
    grid-column: span 2;
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.pokemon-move h4 {
    font-size: 30px;
    text-decoration: underline;
}

.pokemon-move {
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 85%;
    background-color: var(--yellow);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: auto;
    text-align: center;
    transition: transform .2s;
    font-size: 25px;
}

.pokemon-move:hover {
    background-color: #FBF4CA;
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.move-name, .move-type, .move-power, .move-accuracy, .move-description {
    font-size: 1em;
}

.move-name {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
}

.move-type {
    color: #28a745;
}

.move-power {
    color: #dc3545;
}

.move-accuracy {
    color: #ffc107;
}

.move-description {
    font-size: 0.9em;
    color: #6c757d;
    line-height: 1.4;
}

.typetextarea{
    background-color: var(--blue);
    text-align: center;
    font-size: 25px;
    width: 95%;
    padding: 5px;
    margin: 0 auto;
}

.typetextarea h4 {
    font-size: 32px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer {
    background-color: var(--blue);
    color: var(--borderbrown);
    padding: 40px 0;
    text-align: center;
}

.pokemon-sprite {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

#logo {
    width: 100%;
    height: auto;
}

main {
    height: auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: var(--red);
    padding: 20px;
    justify-items: center;
}

h2 {
    text-decoration: underline;
}

.index-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--blue);
    padding: 0;
    margin: 0;
}

.details-buttons {
    text-align: center;
}

.card-detail-body {
    background-color: var(--yellow);
}

#pokemonDetailContainer img {
    width: 250px;
    height: auto;
    border: 1px solid var(--foreground);
    margin: 20px;
    background-color: #FBF4CA;
}

#pokemonDetailContainer img:hover {
    transform: scale(1.05);
}


#pokemonDetailContainer {
    text-align: center;
}


#searchInput {
    width: 50%;
    height: 40%;
}

#homeButton {
    position: absolute;
    top: 5%;
    right: 5%;
}

#homeButton:hover, #viewFavoritesbutton:hover, #darkModeButton:hover, #searchButton:hover, .pokemon-card button:hover {
    background-color: #F9BEBF;
    color: black;
}

#homeButton, #viewFavoritesbutton, #darkModeButton, #searchButton {
    background-color: var(--green);
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@media (max-width: 1000px) {
    .pokemon-moves, .pokemon-move {
        padding: 10px;
    }

    .pokemon-moves {
        grid-template-columns: 1fr;
    }

    .pokemon-moves h3 {
        grid-column: span 1;
    }

    .pokemon-move {
        width: 90%;
    }

    main {
        grid-template-columns: 1fr;
    }

    .move-name {
        font-size: 1em;
    }

    .pokemon-card, .favorite-card {
        width: 70%;
    }

    .details-buttons button,
    #homeButton,
    #viewFavoritesbutton,
    #darkModeButton,
    #searchButton {
        width: 30%;
        height: auto;
        font-size: 14px;
    }

    .navcontainer {
        flex-direction: column;
        align-items: center;
    }
}