body, html {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    height: 100%;
    place-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pokemon-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

.pokemon-card:hover {
    transform: scale(1.2);
}

h2 {
    text-decoration: underline;
}

.pokemon-sprite {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.pokemon-stats {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

.index-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

































/* Style.css */
header {
    display: flex;
    justify-content: space-between; /* Space out the logo and home button */
    align-items: center; /* Vertically align items */
    padding: 10px 20px;
}

.logo-container {
    /* Optional: add any desired padding or margins */
    display: flex;
    align-items: center;
}

.home-button-container {
    /* Align button to the right, or wherever you want */
    display: flex;
    justify-content: flex-end;
}

#indexButton {
    background-color: #4CAF50; /* Example button style */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#indexButton:hover {
    background-color: #45a049; /* Button hover effect */
}
