body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    place-items: center;
    background-color: #fff;
    color: #000;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .pokemon-card {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode h2 {
    color: #fff;
}

body.dark-mode #darkModeButton {
    background-color: #444;
    color: #fff;
}

body.dark-mode #darkModeButton:hover {
    background-color: #555;
}

.pokemon-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

.pokemon-card:hover {
    animation: spin .5s ease-in-out;
}

.pokemon-sprite {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

h2 {
    text-decoration: underline;
}

.pokemon-stats {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

.index-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.home-button-container {
    display: flex;
    justify-content: flex-end;
}

#indexButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#indexButton:hover {
    background-color: #45a049;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
